@use "../components/variables";
@use "../components/global";
@use "../components/reset";
@use "../components/header";
@use "../components/bio";
@use "../components/skills";
@use "../components/projects";
@use "../components/reviews";
@use "../components/contacts";
@use "../components/footer";
@use "../components/theme";
@use "../components/responsive";
