@import "./mixins";

.contact {
  @include twoColumns($column-gap: 20rem, $row-gap: 0);
  align-items: center;
  font-family: var(--font-family-poppins);
}

.contact__description {
  font-size: var(--font-size-20);
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
}

.contact__socials {
  display: flex;
  gap: 1rem;
}

.contact__social:hover {
  transform: scale(1.2);
}

svg {
  width: 2.5rem;
  height: 2.5rem;
}

.linked {
  transition: var(--transition-timing);
}

.github {
  transition: var(--transition-timing);
  fill: rgb(74, 72, 72);
}

.linked:hover {
  fill: #0a66c2;
}

.github:hover {
  fill: var(--color-black);
}

.contact__inputs {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.contact__input {
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
}

.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
  transition: var(--transition-timing);
}

.contact__button:hover {
  opacity: 0.7;
}

/* form:invalid::after {
  content: "*";
  font-size: var(--font-size-38);
  color: var(--color-red);
} */

.input-div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.input-div.error {
  border: 0.11rem solid var(--color-red);
}

.error-text {
  color: var(--color-red);
  display: none;
}

.input-div.error .error-text {
  display: block;
}
