.clients {
  position: relative;
}

.clients__opinions {
  grid-column: 1/-1;
  font-size: var(--font-size-40);
  line-height: 1.7;
}

.clients-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.clients__opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  35% {
    transform: scale(35%);
  }
  70% {
    transform: scale(70%);
  }
  100% {
    transform: scale(100%);
  }
}

.popup {
  display: none;
  width: 23rem;
  height: 23rem;
  position: absolute;
  background-color: var(--color-green);
  border-radius: 2.3rem;
  padding: 0 1.5rem;
  top: 5rem;
  left: 40rem;
}

.popup-text {
  color: var(--color-white);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semi-bold);
}

.client {
  cursor: pointer;
  user-select: none;
  animation: jump 1s infinite ease-in-out;
  transition: var(--transition-timing);
}

.client:hover {
  transition: var(--transition-timing);
  text-shadow: 0 0 20px var(--color-green);
}

.client:hover + .popup {
  transition: var(--transition-timing);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: appear 1s ease-in-out;
}
