.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}

.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
}

.skills__item {
  position: relative;
  display: inline-block;
  transition: var(--transition-timing);
  user-select: none;
}

.skills__item:hover {
  text-shadow: 0 0 2px var(--color-green);
}

.skills {
  .underline::after {
    content: "";
    height: 0.6rem;
    width: 60%;
    background: var(--color-text);
    position: absolute;
    left: 0;
    bottom: -20px;
  }
}
